PORT=3000
DATABASE_URL=postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:5432/postgres
NODE_ENV=production
JWT_SECRET=your_secret_here
DATABASE_PASSWORD=
EMAIL_USER=
EMAIL_PASS=
FRONTEND_URL1=https://debugging-diaries.vercel.app/
FRONTEND_URL2=https://debugging-diaries.netlify.app/
FRONTEND_URL_TEST=https://dev--debugging-diaries.netlify.app/
BACKEND_URL=
AI_MODEL=
GEMINI_API_KEY=
REDIS_URL='redis://redis_cache:6379'
REDIS_HOST=redis_cache
REDIS_PORT=6379
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
